.hedearBox{
    background-color: #cccaca;
    padding: 0 0;
}

.hedearContainer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: rtl;
    margin: 0 3rem;
    color: #e0d9d3;


}
.hedearContainer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;


}
.hedearContainer li{
    padding: 0.6rem  .5rem;
    display:inline;

}
.hedearContainer a{
    margin-top:  .8rem;
    text-decoration: none;
    color: rgb(39, 38, 38);

}
.rightHedear{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftHedear{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.headerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 }
.logoPic{
    width: 120px;
    height: 90px;
}
.active{
    color: #546a2f !important;
    font-weight: bolder !important;
}
.line{
    width: 3px;
    height: 1.5rem;
    background-color: #a07042;
}
.hedearContainer h1{
    margin-top: .5rem;
    color: #546a2f;

}