.container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 20px;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.photoSize{
    width: 220px;
    height: 220px;
}
.lBox{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.ldBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.ldBox h2{
    
}
.btn{
    align-items: center;
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.detail{
    direction: rtl;
}
