.contain{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.contain div{
    margin: 20px;
    margin-top: 140px;
}

.direction{
    direction: rtl;
}