.contain{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;

}
.hed{
    width: 90%;
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    color: #3232e1;
    /*align-items:  first;*/

}
.roww{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*direction: rtl;*/
    align-items: center;

}
.margin{
    margin: 10 110px;
}

